/* Hover effect for the user row */
.user-row {
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.user-row:hover {
    background-color: #f0f8ff; /* Light blue on hover */
}

/* Style for the custom checkbox */
.custom-checkbox {
    position: relative;
    width: 25px;
    height: 25px;
    cursor: pointer;
    appearance: none;
    border: 3px solid #ddd;
    border-radius: 5px;
    transition: all 0.3s;
}

/* Change color on hover */
.custom-checkbox:hover {
    background-color: #e0f0ff; /* Light blue on hover */
    border-color: #007bff; /* Blue border on hover */
}

/* Style for the checked state */
.custom-checkbox:checked {
    background-color: #007bff;
    border-color: #007bff;
}

/* Add a checkmark for the checkbox */
.custom-checkbox:checked::after {
    position: absolute;
    top: 2px;
    left: 4px;
    font-size: 14px;
}

/* Ensure the .modal-content is targeted properly */
#APIResponse .modal-content {
    border: 2px solid #ccc; /* Grey border */
}

/* testscore */
.subject-card {
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px; /* Reduced padding */
    font-size: 0.9rem; /* Smaller text size */
}

.subject-card .icon-small {
font-size: 1.5rem; /* Smaller icon */
}

.subject-card.selected {
background-color: #47b4c5; /* Bootstrap Info Color */
color: white;
transform: scale(1.05); /* Slightly enlarge the selected card */
}

.subject-card.selected .card-category {
color: black; /* Change the subject name to black */
}

.subject-card:hover {
background-color: #bfd9f2; /* Light grey on hover */
}

.subject-card .card-category {
font-size: 0.85rem; /* Smaller category text */
margin-bottom: 0.5rem; /* Less spacing */
}

.subject-card h5.card-title {
font-size: 1rem; /* Smaller title text */
margin: 0;
}

/* radio subject */
.subject-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Auto-adjust the columns */
    gap: 15px;
    max-height: 300px; /* Limit container height */
    overflow-y: auto;
}

.subject-card {
    display: flex;
    flex-direction: column;  /* Stack the grade and subject name vertically */
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: left;
    word-wrap: break-word;
    white-space: normal;
    height: 100%;
}

.subject-card input[type="radio"] {
    margin-bottom: 5px;  /* Space between radio button and text */
    transform: scale(1.2); /* Optional: Slightly increase the size of radio button */
}

.subject-grade {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.subject-name {
    font-size: 14px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    display: block;
}
